SendEmail/template.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "defaultValue": "send-email",
      "type": "String"
    },
    "office365": {
      "defaultValue": "/subscriptions/5726837a-3f90-474d-97a1-1b210a1e5fc4/resourceGroups/DynamicsDeployments-eastus/providers/Microsoft.Web/connections/office365",
      "type": "String"
    }
  },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('logicAppName')]",
            "location": "centralus",
            "properties": {
                "state": "Disabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        },
                        "EmailTo": {
                            "defaultValue": "haseeb.ahmed@mazikglobal.com",
                            "type": "String"
                        }
                    },
                    "triggers": {
                        "manual": {
                            "type": "Request",
                            "kind": "Http",
                            "inputs": {
                                "schema": {
                                    "properties": {
                                        "Body": {
                                            "type": "string"
                                        },
                                        "Subject": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "actions": {
                        "Send_an_email": {
                            "runAfter": {},
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "Body": "<p>@{triggerBody()?['Body']}</p>",
                                    "Importance": "Normal",
                                    "Subject": "@triggerBody()?['Subject']",
                                    "To": "@parameters('EmailTo')"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['office365']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/v2/Mail"
                            }
                        },
                        "Send_email_failed": {
                            "runAfter": {
                                "Send_an_email": [
                                    "Failed",
                                    "TimedOut"
                                ]
                            },
                            "type": "Response",
                            "kind": "Http",
                            "inputs": {
                                "body": "@body('Send_an_email')",
                                "statusCode": 400
                            }
                        },
                        "Send_email_success": {
                            "runAfter": {
                                "Send_an_email": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Response",
                            "kind": "Http",
                            "inputs": {
                                "body": "Email Sent!.",
                                "statusCode": 200
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                          "office365": {
                            "connectionId": "[parameters('office365')]",
                            "connectionName": "office365",
                            "id": "/subscriptions/5726837a-3f90-474d-97a1-1b210a1e5fc4/providers/Microsoft.Web/locations/eastus/managedApis/office365"
                          }
                        }
                    }
                }
            }
        }
    ]
}
